<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>booster.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{251,24}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{251,24}}</string>
                <key>sourceSize</key>
                <string>{277,38}</string>
            </dict>
            <key>complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{444,64}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{444,64}}</string>
                <key>sourceSize</key>
                <string>{462,74}</string>
            </dict>
            <key>didnt collect card.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{394,50}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{394,50}}</string>
                <key>sourceSize</key>
                <string>{448,66}</string>
            </dict>
            <key>fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,621},{288,51}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,9},{288,51}}</string>
                <key>sourceSize</key>
                <string>{302,65}</string>
            </dict>
            <key>flashcard_board.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{496,284}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{496,284}}</string>
                <key>sourceSize</key>
                <string>{520,300}</string>
            </dict>
            <key>level.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{91,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{91,31}}</string>
                <key>sourceSize</key>
                <string>{101,35}</string>
            </dict>
            <key>monster.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,698},{140,98}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{140,98}}</string>
                <key>sourceSize</key>
                <string>{150,110}</string>
            </dict>
            <key>mushroom-fail.PNG</key>
            <dict>
                <key>frame</key>
                <string>{{924,674},{89,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>mushroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,398},{89,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,95}}</string>
                <key>sourceSize</key>
                <string>{89,95}</string>
            </dict>
            <key>panel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{640,694}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{640,694}}</string>
                <key>sourceSize</key>
                <string>{640,694}</string>
            </dict>
            <key>pet-fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,500},{271,119}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{271,119}}</string>
                <key>sourceSize</key>
                <string>{293,127}</string>
            </dict>
            <key>pet.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,674},{172,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{172,108}}</string>
                <key>sourceSize</key>
                <string>{180,120}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,698},{94,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,5},{94,24}}</string>
                <key>sourceSize</key>
                <string>{104,34}</string>
            </dict>
            <key>star_purple.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,674},{104,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>star_yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{917,500},{104,108}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{104,108}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TargetEndgame.pvr.ccz</string>
            <key>size</key>
            <string>{1023,798}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d60df22c56307bd4de76b29632ac1873:fc6e6c6a68540e0a460b939209dbe065:afce3d7e3e96a398c210848aa6b5f09a$</string>
            <key>textureFileName</key>
            <string>TargetEndgame.pvr.ccz</string>
        </dict>
    </dict>
</plist>
