<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,472},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,420},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,408},{74,70}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{74,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,334},{78,78}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,88},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,472},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>Candy_0006_Layer-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,172},{80,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,26},{80,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Candy_0010_Layer-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,88},{82,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{82,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,414},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>E.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,420},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>Explosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>F.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,453},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>G.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,472},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>Gem_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,414},{25,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,445},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,445},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,416},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,443},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,420},{21,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,484},{27,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{27,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_H.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,434},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,463},{7,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{7,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,451},{19,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{19,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,434},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,449},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{21,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,484},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,414},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,484},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,420},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,420},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,29}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,484},{25,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,414},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,484},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,484},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,484},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,484},{35,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{35,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{685,416},{23,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,454},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,484},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,332},{74,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{74,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,254},{78,78}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,258},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>H.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,472},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>I.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,472},{12,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,39}}</string>
                <key>sourceSize</key>
                <string>{12,39}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,472},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{607,472},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,440},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,346},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,7},{72,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>M.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,472},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>Main_Board_Large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,84}}</string>
                <key>sourceSize</key>
                <string>{612,84}</string>
            </dict>
            <key>Main_Board_Medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{428,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,84}}</string>
                <key>sourceSize</key>
                <string>{428,84}</string>
            </dict>
            <key>Main_Board_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{255,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,84}}</string>
                <key>sourceSize</key>
                <string>{255,84}</string>
            </dict>
            <key>N.png</key>
            <dict>
                <key>frame</key>
                <string>{{503,472},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>O.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,472},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,336},{78,60}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,254},{78,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,88},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,420},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>Pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,254},{76,70}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{76,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,258},{76,80}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,174},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,43},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,472},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,342},{64,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{64,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,172},{78,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,260},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,472},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,443},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,414},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>U.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,472},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>V.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,472},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>W.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>White.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,344},{74,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{74,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,174},{74,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,356},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,442},{76,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{76,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,442},{76,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{76,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,346},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,356},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,340},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_White.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,398},{74,72}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{74,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,440},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,472},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,344},{74,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{74,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,420},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>_.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,440},{30,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,7}}</string>
                <key>sourceSize</key>
                <string>{30,7}</string>
            </dict>
            <key>brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>cercle.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,172},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{68,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,84}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResourceDemo.pvr.ccz</string>
            <key>size</key>
            <string>{1020,513}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:566c33d6df4ba5b5fb4f7baa1ea6b8fd:ef749f08762d328070b89bbb25651ba2:b5eb0a5ee189c86f1edf1f17f5a74256$</string>
            <key>textureFileName</key>
            <string>ResourceDemo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
