<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tut2_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,429}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,429}}</string>
                <key>sourceSize</key>
                <string>{446,429}</string>
            </dict>
            <key>tut2_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{72,251}}</string>
                <key>offset</key>
                <string>{-105,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{72,251}}</string>
                <key>sourceSize</key>
                <string>{304,271}</string>
            </dict>
            <key>tut2_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,255},{166,251}}</string>
                <key>offset</key>
                <string>{-59,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,5},{166,251}}</string>
                <key>sourceSize</key>
                <string>{304,271}</string>
            </dict>
            <key>tut2_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{294,251}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,5},{294,251}}</string>
                <key>sourceSize</key>
                <string>{304,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial2.pvr.ccz</string>
            <key>size</key>
            <string>{820,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:288b11d402dc54885eee5cf803beb389:3a2503ceaf981cafc2a43696a2e3444b:0d3c587da38b1f238f103438ebbb61f0$</string>
            <key>textureFileName</key>
            <string>Tutorial2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
