<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tut8_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,409}}</string>
                <key>sourceSize</key>
                <string>{446,409}</string>
            </dict>
            <key>tut8_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{306,53}}</string>
                <key>offset</key>
                <string>{0,91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,87},{306,53}}</string>
                <key>sourceSize</key>
                <string>{446,409}</string>
            </dict>
            <key>tut8_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,235},{312,231}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,87},{312,231}}</string>
                <key>sourceSize</key>
                <string>{446,409}</string>
            </dict>
            <key>tut8_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{312,231}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,87},{312,231}}</string>
                <key>sourceSize</key>
                <string>{446,409}</string>
            </dict>
            <key>tut8_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{314,231}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,87},{314,231}}</string>
                <key>sourceSize</key>
                <string>{446,409}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial8.pvr.ccz</string>
            <key>size</key>
            <string>{999,468}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d539d4f54dbc034dcf59ffe2035894e6:0a4e06aa5231bfbb4e9e286d67ad1d51:4baf6be60edf4a6cd852c5862927f0ca$</string>
            <key>textureFileName</key>
            <string>Tutorial8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
