<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tut8_Frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{446,409}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,409}}</string>
                <key>sourceSize</key>
                <string>{446,409}</string>
            </dict>
            <key>tut8_anim_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,413},{298,54}}</string>
                <key>offset</key>
                <string>{-4,93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,3},{298,54}}</string>
                <key>sourceSize</key>
                <string>{328,246}</string>
            </dict>
            <key>tut8_anim_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,236},{308,232}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,3},{308,232}}</string>
                <key>sourceSize</key>
                <string>{328,246}</string>
            </dict>
            <key>tut8_anim_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{308,232}}</string>
                <key>offset</key>
                <string>{-9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{308,232}}</string>
                <key>sourceSize</key>
                <string>{328,246}</string>
            </dict>
            <key>tut8_anim_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{314,232}}</string>
                <key>offset</key>
                <string>{-7,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{314,232}}</string>
                <key>sourceSize</key>
                <string>{328,246}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Tutorial8.pvr.ccz</string>
            <key>size</key>
            <string>{1000,470}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc6ca635f575a5d37b09d5d8123fef0f:055df3d1e62c58f0eba5732187d0a0bf:4baf6be60edf4a6cd852c5862927f0ca$</string>
            <key>textureFileName</key>
            <string>Tutorial8.pvr.ccz</string>
        </dict>
    </dict>
</plist>
