<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Explosion/explosion_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,757},{248,242}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,79},{248,242}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>Explosion/explosion_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{168,184}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{105,104},{168,184}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>Explosion/explosion_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,509},{230,246}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,73},{230,246}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>Explosion/explosion_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{298,308}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,42},{298,308}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>Explosion/explosion_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{348,342}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,22},{348,342}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>Explosion/explosion_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{328,324}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,31},{328,324}}</string>
                <key>sourceSize</key>
                <string>{380,380}</string>
            </dict>
            <key>LightFire/Light_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,172},{250,70}}</string>
                <key>offset</key>
                <string>{25,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,0},{250,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>LightFire/Light_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,172},{288,70}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{288,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>LightFire/Light_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,172},{300,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,70}}</string>
                <key>sourceSize</key>
                <string>{300,70}</string>
            </dict>
            <key>Rocket.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,424},{36,83}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,83}}</string>
                <key>sourceSize</key>
                <string>{36,83}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BonusTime.pvr.ccz</string>
            <key>size</key>
            <string>{568,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9d1fb96163a235123f094adcf01d5fe9:b89fa6a16fca810ebff033a49ad080a9:de6debd22880c86b09f2cf4a6a885a3e$</string>
            <key>textureFileName</key>
            <string>BonusTime.pvr.ccz</string>
        </dict>
    </dict>
</plist>
