<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BlackRectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,379},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>CardFlare.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{253,255}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{253,255}}</string>
                <key>sourceSize</key>
                <string>{253,255}</string>
            </dict>
            <key>MainWordFlare.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,259},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,106}}</string>
                <key>sourceSize</key>
                <string>{106,106}</string>
            </dict>
            <key>MainWordLight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{480,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{480,250}}</string>
                <key>sourceSize</key>
                <string>{480,250}</string>
            </dict>
            <key>WhiteRectangle.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,367},{10,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,10}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>CompleteMainWord.pvr.ccz</string>
            <key>size</key>
            <string>{509,484}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8a309c01d283cc05c427af4e0dc6f621:273e5afb1cfdc6aeb12b7f159e871257:ceab2faada851c8cb5decda5bece643d$</string>
            <key>textureFileName</key>
            <string>CompleteMainWord.pvr.ccz</string>
        </dict>
    </dict>
</plist>
