<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,380},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>B.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,445},{32,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,37}}</string>
                <key>sourceSize</key>
                <string>{32,37}</string>
            </dict>
            <key>Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,418},{74,70}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{74,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,254},{78,78}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,260},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Blue_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>C.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,379},{34,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,39}}</string>
                <key>sourceSize</key>
                <string>{34,39}</string>
            </dict>
            <key>Candy_0006_Layer-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,346},{80,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{80,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>Candy_0010_Layer-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,356},{82,70}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,26},{82,70}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>D.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,379},{34,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,37}}</string>
                <key>sourceSize</key>
                <string>{34,37}</string>
            </dict>
            <key>E.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,479},{31,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,37}}</string>
                <key>sourceSize</key>
                <string>{31,37}</string>
            </dict>
            <key>Explosion.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,174},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>Explosion2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{180,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,180}}</string>
                <key>sourceSize</key>
                <string>{180,180}</string>
            </dict>
            <key>F.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,410},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>G.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,172},{36,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,39}}</string>
                <key>sourceSize</key>
                <string>{36,39}</string>
            </dict>
            <key>Gem_A.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,479},{25,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_B.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,450},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_C.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,479},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_D.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,450},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_E.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,490},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_F.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,496},{21,27}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,4},{21,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_G.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,408},{27,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{27,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_H.png</key>
            <dict>
                <key>frame</key>
                <string>{{861,479},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_I.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,511},{7,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,4},{7,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_J.png</key>
            <dict>
                <key>frame</key>
                <string>{{967,479},{19,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,4},{19,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_K.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,450},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_L.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,496},{21,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{21,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_M.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,97},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_N.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,490},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_O.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,377},{29,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_P.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,479},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,479},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{29,29}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_R.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,450},{25,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_S.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,464},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_T.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,450},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_U.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,479},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_V.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,437},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_W.png</key>
            <dict>
                <key>frame</key>
                <string>{{987,340},{35,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{35,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_X.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,479},{23,27}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,450},{23,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{23,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Gem_Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,169},{25,27}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{25,27}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,346},{74,70}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{74,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,254},{78,78}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,78}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,174},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Green_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>H.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,415},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>I.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,56},{12,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,39}}</string>
                <key>sourceSize</key>
                <string>{12,39}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,128},{26,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,39}}</string>
                <key>sourceSize</key>
                <string>{26,39}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,416},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>L.png</key>
            <dict>
                <key>frame</key>
                <string>{{985,213},{29,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,38}}</string>
                <key>sourceSize</key>
                <string>{29,38}</string>
            </dict>
            <key>Lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,418},{72,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{72,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>M.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,340},{38,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,39}}</string>
                <key>sourceSize</key>
                <string>{38,39}</string>
            </dict>
            <key>Main_Board_Large.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{612,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{612,84}}</string>
                <key>sourceSize</key>
                <string>{612,84}</string>
            </dict>
            <key>Main_Board_Medium.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{428,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,84}}</string>
                <key>sourceSize</key>
                <string>{428,84}</string>
            </dict>
            <key>Main_Board_Small.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{255,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{255,84}}</string>
                <key>sourceSize</key>
                <string>{255,84}</string>
            </dict>
            <key>N.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,410},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>O.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,95},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,440},{78,60}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,14},{78,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,172},{78,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,88},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Orange_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>P.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,445},{32,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,38}}</string>
                <key>sourceSize</key>
                <string>{32,38}</string>
            </dict>
            <key>Pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,442},{76,70}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{76,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{76,80}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{76,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,88},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Pink_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,56},{37,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,41}}</string>
                <key>sourceSize</key>
                <string>{37,41}</string>
            </dict>
            <key>R.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,471},{33,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,38}}</string>
                <key>sourceSize</key>
                <string>{33,38}</string>
            </dict>
            <key>Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,344},{64,72}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{64,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,172},{78,80}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{78,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,260},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Red_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,2},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>S.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,438},{31,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,39}}</string>
                <key>sourceSize</key>
                <string>{31,39}</string>
            </dict>
            <key>Shield_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,418},{42,50}}</string>
                <key>offset</key>
                <string>{-15,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,28},{42,50}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Shield_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,470},{40,48}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,29},{40,48}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Shield_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{959,2},{46,52}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,27},{46,52}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Star.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,493},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>T.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,136},{34,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,38}}</string>
                <key>sourceSize</key>
                <string>{34,38}</string>
            </dict>
            <key>U.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,404},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>V.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,213},{33,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,39}}</string>
                <key>sourceSize</key>
                <string>{33,39}</string>
            </dict>
            <key>W.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,338},{46,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{46,39}}</string>
                <key>sourceSize</key>
                <string>{46,39}</string>
            </dict>
            <key>White.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,334},{74,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{74,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Border.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,174},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Combo4.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,254},{74,82}}</string>
                <key>offset</key>
                <string>{5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{74,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Combo5.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,88},{84,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>White_Combo6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,334},{76,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{76,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Green.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,418},{76,68}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{76,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Orange.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,442},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Pink.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,442},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_Red.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,442},{76,72}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Word_White.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,344},{74,72}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{74,72}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>X.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,338},{30,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,39}}</string>
                <key>sourceSize</key>
                <string>{30,39}</string>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,404},{32,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,39}}</string>
                <key>sourceSize</key>
                <string>{32,39}</string>
            </dict>
            <key>Yellow.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,334},{74,68}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,10},{74,68}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,415},{33,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,37}}</string>
                <key>sourceSize</key>
                <string>{33,37}</string>
            </dict>
            <key>_.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{30,7}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,7}}</string>
                <key>sourceSize</key>
                <string>{30,7}</string>
            </dict>
            <key>brick.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,88},{84,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,84}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>cercle.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,172},{80,80}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,5},{80,80}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,254},{68,84}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{68,84}}</string>
                <key>sourceSize</key>
                <string>{74,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ResourceDemo.pvr.ccz</string>
            <key>size</key>
            <string>{1016,520}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08444cf792adb015308c5113519303f8:031ca865586d6d7bc40a21806a92058d:b5eb0a5ee189c86f1edf1f17f5a74256$</string>
            <key>textureFileName</key>
            <string>ResourceDemo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
