<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_Nice.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,367},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>4_Lovely.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,529},{197,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,48}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>5_Beautiful.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,548},{264,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,58}}</string>
                <key>sourceSize</key>
                <string>{264,58}</string>
            </dict>
            <key>6_Briliant.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,466},{265,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,61}}</string>
                <key>sourceSize</key>
                <string>{265,61}</string>
            </dict>
            <key>7_Artistic.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,367},{315,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,97}}</string>
                <key>sourceSize</key>
                <string>{315,97}</string>
            </dict>
            <key>Level_Completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,180}}</string>
                <key>sourceSize</key>
                <string>{583,180}</string>
            </dict>
            <key>Level_Fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{570,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,180}}</string>
                <key>sourceSize</key>
                <string>{570,180}</string>
            </dict>
            <key>Level_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{570,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,180}}</string>
                <key>sourceSize</key>
                <string>{570,180}</string>
            </dict>
            <key>Stage.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{160,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,61}}</string>
                <key>sourceSize</key>
                <string>{160,61}</string>
            </dict>
            <key>StageNumber/0.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,544},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,568},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,509},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,529},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,485},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,164},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{907,164},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,529},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,426},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>StageNumber/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,367},{49,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{49,57}}</string>
                <key>sourceSize</key>
                <string>{49,57}</string>
            </dict>
            <key>Stage_Complete.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,125},{318,126}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{318,126}}</string>
                <key>sourceSize</key>
                <string>{318,134}</string>
            </dict>
            <key>Time_Out.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{273,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,63}}</string>
                <key>sourceSize</key>
                <string>{273,63}</string>
            </dict>
            <key>no-more-moves.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,253},{436,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{436,112}}</string>
                <key>sourceSize</key>
                <string>{436,112}</string>
            </dict>
            <key>shuffle-text.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,2},{348,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{348,121}}</string>
                <key>sourceSize</key>
                <string>{348,121}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TestEffect.pvr.ccz</string>
            <key>size</key>
            <string>{1012,619}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d596bbfd2db8810be5cf8c8e3564e7b5:9aca95280067c74ba4124901412c40d5:4241480c2580243a2430ac8926a58395$</string>
            <key>textureFileName</key>
            <string>TestEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
