<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3_Nice.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,574},{140,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,45}}</string>
                <key>sourceSize</key>
                <string>{140,45}</string>
            </dict>
            <key>4_Lovely.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,673},{197,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{197,48}}</string>
                <key>sourceSize</key>
                <string>{197,48}</string>
            </dict>
            <key>5_Beautiful.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,723},{264,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{264,58}}</string>
                <key>sourceSize</key>
                <string>{264,58}</string>
            </dict>
            <key>6_Briliant.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{265,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,61}}</string>
                <key>sourceSize</key>
                <string>{265,61}</string>
            </dict>
            <key>7_Artistic.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,574},{315,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{315,97}}</string>
                <key>sourceSize</key>
                <string>{315,97}</string>
            </dict>
            <key>Level_Completed.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{583,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{583,180}}</string>
                <key>sourceSize</key>
                <string>{583,180}</string>
            </dict>
            <key>Level_Fail.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{570,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,180}}</string>
                <key>sourceSize</key>
                <string>{570,180}</string>
            </dict>
            <key>Level_Start.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,2},{570,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{570,180}}</string>
                <key>sourceSize</key>
                <string>{570,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>TestEffect.pvr.ccz</string>
            <key>size</key>
            <string>{548,783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca03b30f202c4a373ea76bcd2377112e:c871ce90b99defd88bf1e3ffce1dd5ff:4241480c2580243a2430ac8926a58395$</string>
            <key>textureFileName</key>
            <string>TestEffect.pvr.ccz</string>
        </dict>
    </dict>
</plist>
