<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>BonusTimeExplosion</key>
		<dict>
			<key>delay</key>
			<real>0.09</real>
			<key>frames</key>
			<array>
				<string>Explosion/explosion_00000.png</string>
				<string>Explosion/explosion_00001.png</string>
				<string>Explosion/explosion_00002.png</string>
				<string>Explosion/explosion_00003.png</string>
				<string>Explosion/explosion_00004.png</string>
				<string>Explosion/explosion_00005.png</string>
			</array>
		</dict>		
		<key>BonusTimeFire</key>
		<dict>
			<key>delay</key>
			<real>0.065</real>
			<key>frames</key>
			<array>
				<string>LightFire/Light_01.png</string>
				<string>LightFire/Light_02.png</string>
				<string>LightFire/Light_03.png</string>
			</array>p
		</dict>		
	</dict>
</dict>
</plist>
