<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>effectCombo5</key>
		<dict>
			<key>delay</key>
			<real>0.033</real>
			<key>frames</key>
			<array>
				<string>Bolt 2_00000.png</string>
				<string>Bolt 2_00001.png</string>
				<string>Bolt 2_00002.png</string>
				<string>Bolt 2_00003.png</string>
				<string>Bolt 2_00004.png</string>
				<string>Bolt 2_00005.png</string>
				<string>Bolt 2_00006.png</string>
				<string>Bolt 2_00007.png</string>
				<string>Bolt 2_00008.png</string>
				<string>Bolt 2_00009.png</string>
				<string>Bolt 2_00010.png</string>
				<string>Bolt 2_00011.png</string>
				<string>Bolt 2_00012.png</string>
				<string>Bolt 2_00013.png</string>				
			</array>
		</dict>		
	</dict>
</dict>
</plist>
