<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bolt 2_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,534},{97,60}}</string>
                <key>offset</key>
                <string>{-147,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,440},{1,1}}</string>
                <key>offset</key>
                <string>{-195,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,534},{97,60}}</string>
                <key>offset</key>
                <string>{-147,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1517,526},{121,60}}</string>
                <key>offset</key>
                <string>{-120,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{121,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,560},{139,60}}</string>
                <key>offset</key>
                <string>{-91,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{139,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1953,441},{155,60}}</string>
                <key>offset</key>
                <string>{-60,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,0},{155,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,532},{173,60}}</string>
                <key>offset</key>
                <string>{-31,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,0},{173,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,472},{191,60}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,0},{191,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{207,60}}</string>
                <key>offset</key>
                <string>{29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,0},{207,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,278},{161,60}}</string>
                <key>offset</key>
                <string>{104,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,0},{161,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1905,598},{73,60}}</string>
                <key>offset</key>
                <string>{159,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{318,0},{73,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,532},{59,60}}</string>
                <key>offset</key>
                <string>{166,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,0},{59,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,652},{47,60}}</string>
                <key>offset</key>
                <string>{172,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,0},{47,60}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Bolt 2_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1990,2},{33,40}}</string>
                <key>offset</key>
                <string>{179,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,10},{33,40}}</string>
                <key>sourceSize</key>
                <string>{391,60}</string>
            </dict>
            <key>Com4_Ex_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,440},{1,1}}</string>
                <key>offset</key>
                <string>{-149.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,440},{146,146}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,73},{146,146}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,278},{160,160}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,66},{160,160}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,282},{188,188}}</string>
                <key>offset</key>
                <string>{4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,54},{188,188}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,284},{230,240}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{230,240}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,286},{234,244}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,28},{234,244}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,286},{274,272}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,16},{274,272}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,2},{276,274}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,15},{276,274}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{278,278}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{278,278}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,2},{280,280}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{280,280}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,2},{280,282}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{280,282}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,292},{282,284}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,9},{282,284}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{284,288}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{284,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,292},{286,288}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,7},{286,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,290}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{288,290}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{288,288}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{288,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Com4_Ex_00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{290,288}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{290,288}}</string>
                <key>sourceSize</key>
                <string>{300,300}</string>
            </dict>
            <key>Flare_00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,622},{72,74}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,37},{72,74}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00000_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1802,440},{1,1}}</string>
                <key>offset</key>
                <string>{-74.5,74.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{841,622},{76,78}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,35},{76,78}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,594},{116,106}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,23},{116,106}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1143,594},{118,108}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,22},{118,108}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,586},{120,110}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,21},{120,110}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1783,588},{120,112}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,20},{120,112}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,578},{122,116}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{122,116}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{463,582},{124,118}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{124,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,578},{126,118}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,17},{126,118}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,582},{128,120}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{128,120}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1579,534},{130,122}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,15},{130,122}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1381,526},{134,124}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,14},{134,124}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>Flare_00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,560},{136,126}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,13},{136,126}}</string>
                <key>sourceSize</key>
                <string>{150,150}</string>
            </dict>
            <key>SimpleEffect.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,633},{70,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{70,70}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>combo.pvr.ccz</string>
            <key>size</key>
            <string>{2034,705}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39a9e0ccd757826299427c6457031457:5c728aae6893f7e193d66f18aafb6924:358b235106f1f132bf2933acf38d0356$</string>
            <key>textureFileName</key>
            <string>combo.pvr.ccz</string>
        </dict>
    </dict>
</plist>
