<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>effectDecreaseShield</key>
		<dict>
			<key>delay</key>
			<real>0.07</real>
			<key>frames</key>
			<array>
				<string>B_Smoke_01.png</string>
				<string>B_Smoke_02.png</string>
				<string>B_Smoke_03.png</string>
				<string>B_Smoke_04.png</string>
				<string>B_Smoke_05.png</string>
				<string>B_Smoke_06.png</string>
			</array>
		</dict>		
		<key>effectDestroyShield</key>
		<dict>
			<key>delay</key>
			<real>0.65</real>
			<key>frames</key>
			<array>
				<string>B_Smoke_01.png</string>
				<string>B_Smoke_02.png</string>
				<string>B_Smoke_03.png</string>
				<string>B_Smoke_04.png</string>
				<string>B_Smoke_05.png</string>
				<string>B_Smoke_06.png</string>
			</array>
		</dict>		
	</dict>
</dict>
</plist>
